

main {
  display: flex;
  flex-direction: row;
}

.body {
  font-family: "Roboto", sans-serif;
}

.temperature-panel {
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  width: 310px;
  height: 450px;
  background-color: #f3cdfd;
  box-shadow: 10px 20px 20px 0 rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  margin: auto;
  margin-top: 100px;
  border-top: #cc5de8 solid 3px;
  border-left: #cc5de8 solid 1px;
  border-right: #cc5de8 solid 10px;
  border-bottom: #cc5de8 solid 10px;
}

.fieldset {
  border: #e599f7 outset 5px;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
  padding-left: 15px;
  margin-left: 5px;
  width: 240px;
}

.legend {
  color: rgba(62, 2, 2, 0.5);
  font-size: 17px;
}

.radio {
  cursor: pointer;
  height: 16px;
  width: 16px;
  appearance: none;
  background-color: #f8f9fa;
  border: #5f3dc4 solid 2px;
  border-radius: 50%;
}

.radio:hover {
  height: 18px;
  width: 18px;
  background-color: #f4eaf2;
}

.radio:active {
  width: 22px;
  height: 22px;
  border: #862e9c inset 3px;
}

.radio:checked {
  border: #5f3dc4 groove 5px;
}

.radio1 {
  display: inline-block;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #3f20a6;
}

.radio2 {
  display: inline-block;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #3f20a6;
}

.form1 {
  padding-top: 10px;
  padding-bottom: 5px;
  width: 250px;
  margin-top: 40px;
  margin-right: 40px;
}

.form2 {
  padding-bottom: 45px;
  width: 290px;
}

.radio1 {
  font: 10px;
  padding-top: 5px;
  padding-bottom: 15px;
}

.radio2 {
  font: 20px;
  padding-bottom: 3px;
}

.flip1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.flip2 {
  transform: translate(0%, 1%);
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.celsius {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #502ac0;
  font-size: 17px;
  font-weight: 1000;
  margin-left: -2px;
}

.fahrenheit {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #502ac0;
  font-size: 17px;
  margin-left: 10px;
}

.fahr {
  margin-left: 20px;
}

.fahr1 {
  margin-left: 15px;
}

.fahr2 {
  margin-left: 20px;
}

.celsius_label {
  background-color: transparent;
  color: #5f3dc4;
  font-weight: 400;
  border: inset 2px;
  text-align: center;
  font-size: 24px;
  width: 95px;
  border-radius: 6px;
}

.fahrenheit_label {
  background-color: transparent;
  color: #5f3dc4;
  font-weight: 400;
  border: inset 2px;
  text-align: center;
  font-size: 24px;
  width: 95px;
  border-radius: 6px;
}

.convert1 {
  color: #d1bfc9;
  margin-top: -40px;
  width: 200px;
  font-size: 22px;
  font-weight: bold;
  border-radius: 15px;
  border: outset 2px;
}

.buttons1 {
  color: #d1bfc9;
  background-color: #3f20a6;
  font-size: 22px;
  font-weight: bold;
  border-radius: 25px;
  border: outset 3px;
  padding: 5px 0;
}

.buttons1:hover {
  background-color: #3412bd;
  font-size: 25px;
  cursor: pointer;
  box-shadow: 2px 10px 10px 0 rgba(0, 0, 0, 0.2);
}

.buttons1:active {
  box-shadow: 2px 5px 5px 0 rgba(0, 0, 0, 0.2);
}

.convert1:hover {
  width: 210px;
}

.convert1:active {
  width: 180px;
  font-size: 22px;
}

.reset1 {
  width: 150px;
}

.reset1:hover {
  width: 160px;
}

.reset1:active {
  width: 130px;
  font-size: 22px;
}


.temperature-alert {
  display: block;
  position: relative;
  font: 24px;
  font-family:Arial, Helvetica, sans-serif;
  font-weight: 800;
  color:  #180552;
  text-align: center;
  display: flex;
  flex-direction: column;
  background-color: #cc5de8;
  gap: 20px;
  padding: 20px;
  height: 100px;
  width: 200px;
  z-index: 5;
  transform: translate(15%, -255%);
  border-radius: 10px;
  box-shadow: 10px 20px 500px 10px rgba(0, 0, 0, 0.2);
   opacity: .9;
}


.temperature-alert-button {
  color: #d1bfc9;
  background-color: #3f20a6;;;
  font-size: 24px;
  font-weight: bold;
  border-radius: 25px;
  border: outset 3px;
  padding: 2px 0;
  width: 100px;
  margin-top: 0px;
  margin-right: 50px;
  margin-left: 50px;
  border-radius: 10px;
  opacity: 1;
}

.temperature-alert-button:hover {
  color: #def2e4;
  background-color: #3412bd;
}





/* For Mass */

.mass-panel {
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  width: 320px;
  height: 450px;
  background-color: rgba(233, 250, 243, 0.5);
  box-shadow: 10px 20px 20px 0 rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  margin: auto;
  margin-top: 100px;
  border-top: #129068 solid 3px;
  border-left: #129068 solid 1px;
  border-right: #129068 solid 10px;
  border-bottom: #129068 solid 10px;

}

.from_container {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  background-color: #def2e4;
  gap: 5px;
  border: #d5f0e8 groove 5px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  padding-left: 15px;
  width: 260px;
}

.from{
  color: rgb(12, 120, 81);
  font-size: 18px;
  font-weight: bold;
}

.input-labels {
  background-color: #dfeee9;
  color:  #16a57a;
  font-weight: 800;
  border: #e6faf4 inset 2px;
  text-align: center;
  width: 200px;
  height: 40px;
  border-radius: 10px;
}

.from-input {font-size: 32px;}
.to-output {font-size: 24px;}


.select_option{
  position: relative;
  color: #def2e4;
  font-size: 18px;
  font-weight:bold;
  background-color: #1f916f;
  width: 150px;
  height: 25px;
  margin-left: 15px;
  border: none;
  border-radius: 10px;
}


.to_container {
  display: flex;
  flex-direction: column;
  margin-top: -5px;
  background-color: #def2e4;
  gap: 5px;
  border: #d5f0e8 groove 5px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  padding-left: 15px;
  width: 260px;
}

.to{
  color: rgb(12, 120, 81);
  font-size: 18px;
  font-weight: bold;
}

.units {
  color:  #16a57a;
  font-weight: 800;
  font-size: 24px;
  margin: 0;
  padding: 0;
  transform: translate(83%, -135%);
}

.weight {
  width: 290px;
}

.convert2 {
  margin-top: -15px;
  width: 200px;
  font-size: 22px;
  font-weight: bold;
  border-radius: 15px;
  border: outset 2px;
}

.buttons2 {
  color: #def2e4;
  background-color: #0e644a;
  font-size: 22px;
  font-weight: bold;
  border-radius: 25px;
  border: outset 3px;
  padding: 5px 0;
}

.buttons2:hover {
  background-color: #10906a;
  font-size: 25px;
  cursor: pointer;
  box-shadow: 2px 10px 10px 0 rgba(0, 0, 0, 0.2);
  animation: all .5s ease-in;
}

.buttons2:active {
  box-shadow: 2px 5px 5px 0 rgba(0, 0, 0, 0.2);
}

.convert2:hover {
  width: 210px;
}

.convert2:active {
  width: 180px;
  font-size: 22px;
}

.reset2 {
  width: 150px;
  margin-top: -15px;
}

.reset2:hover {
  width: 160px;
}

.reset2:active {
  width: 130px;
  font-size: 22px;
} 

.alert-display {
  display: block;
  position: relative;
  font: 10px;
  color:  #def2e4;
  text-align: center;
  display: flex;
  flex-direction: column;
  background-color: #0b392b;
  gap: 20px;
  padding: 20px;
  height: 100px;
  width: 200px;
  z-index: 5;
  transform: translate(0%, -255%);
  border-radius: 10px;
  box-shadow: 10px 20px 500px 10px rgba(0, 0, 0, 0.2);
   opacity: 0.8;
}

.alert-button {
  color: #def2e4;
  background-color: #0c6349;;
  font-size: 24px;
  font-weight: bold;
  border-radius: 25px;
  border: outset 3px;
  padding: 2px 0;
  width: 100px;
  margin-top: 20px;
  margin-right: 40px;
  margin-left: 40px;
  border-radius: 10px;
  opacity: 1;
}

.alert-button:hover {
  color: #def2e4;
}

.alert-button:active {
   background-color: #022b1f;
} 


/* FOR TIME */

.time-panel {
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  width: 320px;
  height: 450px;
  background-color: rgba(233, 250, 243, 0.5);
  box-shadow: 10px 20px 20px 0 rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  margin: auto;
  margin-top: 100px;
  border-top: #129068 solid 3px;
  border-left: #129068 solid 1px;
  border-right: #129068 solid 10px;
  border-bottom: #129068 solid 10px;

}

.container-time {
  display: flex;
  flex-direction: column;
  margin-top: 13px;
  margin-left: 5px;
  background-color: #def2e4;
  gap: 5px;
  border: #d5f0e8 groove 5px;
  border-radius: 10px;
  padding: 5px 15px;
  width: 260px;
  height: 410px;
}

.time-input {
  font-size: 18px;
  background-color: #dfeee9;
  color:  #16a57a;
  font-weight: 600;
  border: #e6faf4 inset 2px;
  text-align: center;
  width: 130px;
  margin-left: -10px;
  height: 20px;
  border-radius: 10px;
}
.time-units{
  color: #def2e4;
  font-size: 14px;
  font-weight:bold;
  background-color: #1f916f;
  width: 120px;
  height: 15px;
  padding: 3px;
  padding-left: 5px;
  margin-left: -3px;
  margin-top: 2px;
  border: none;
  border-radius: 10px;
}

.time-label{
  display: flex;
  flex-direction: row-reverse;
  gap: 5px;
  margin-left: 5px;
}

.clear-time-btn {
  color: #def2e4;
  background-color: #0e644a;
  font-size: 16px;
  font-weight: bold;
  border-radius: 25px;
  border: outset 3px;
  padding: 5px 0;
  width: 200px;
  margin-top: 3px;
  margin-left: 25px;
}

.clear-time-btn:hover {
  width: 203px;
   background-color: #10906a;
  font-size: 17px;
  cursor: pointer;
  box-shadow: 2px 10px 10px 0 rgba(0, 0, 0, 0.2);
  animation: all .5s ease-in;
}

.clear-time-btn:active {
  width: 195px;
  font-size: 16px;
} 

.buttons2:active {
  box-shadow: 2px 5px 5px 0 rgba(0, 0, 0, 0.2);
}